.container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.newsItem {
    border: 5px inset darksalmon;
}

h3 {
    color: yellow;
    font-size: 30px;
    text-align: center;
    border: 5px outset darksalmon;
    margin: 0;
    font-weight: bold;
}
h6 {
    color: green;
    font-size: 22px;
    text-align: center;
    border: 3px double darksalmon;
    margin: 0;
}
p{
    color: red;
    font-size: 30px;
}
body{
    margin: 0;
    padding: 0;
    /*background-color: rgba(251, 131, 255, 0.616);*/
}

h1 {
    color: black;
    font-size: 40px;
    text-align: center;
    border: 10px outset darksalmon;
    margin: 0;
    font-weight: bold;
    background: linear-gradient(90deg, rgb(251, 255, 0) 0%, rgb(220, 255, 123) 47%, rgb(249, 255, 216) 100%);
}

ul {
    color: white;
    font-size: 30px;
    font-weight: bold;
    text-align: left;
    margin: 0;
    list-style-type: none;
    padding-top: 1% !important;
    background: linear-gradient(90deg, rgb(1, 109, 10) 0%, rgb(0, 177, 0) 47%, rgb(0, 255, 64) 100%);
}

ul li{
    color: red;
    font-size: 28 px;
    text-align: left;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.nav-button-internal{
    margin: 10px;
    padding: 15px 45px;
    text-align: center;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px #eee;
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, #FC354C 0%, #700202  51%, #FC354C  100%)
}

.nav-button-internal:hover a{
    color: whitesmoke !important;

}

.nav-button-internal:hover{
    background-position: right center; /* change the direction of the change here */
    color: #fff;
    text-decoration: none;
}



a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
