.home-container {
    width: 85%;
    background:white;
    box-shadow:2px 2px 2px 2px black ;
    border-radius: 1%;
  }

.home-container{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
  }

.ul-title h1 {
    padding: 5px 20px;
    margin: 15px;
    margin-bottom:1px;
    color: black;
    font-weight: 1000;
    font-size: 18px;
    font-family: 'Shadows Into Light', cursive;
  }

.ul-title{
     box-shadow: 0 3px 6px rgba(7, 0, 63, 0.25);
  }

body{
    background-image: url(https://w0.peakpx.com/wallpaper/598/414/HD-wallpaper-brick-frame-old-paper-background-creative-frame-of-bricks-old-bricks-frame.jpg);
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
}

ul li {
    margin: 10px;
    padding: 15px 45px;
    text-align: left;
    text-transform: uppercase;
    transition: 0.5s;
    background-size: 200% auto;
    color: white;            
    box-shadow: 0 0 20px whitesmoke;
    border-radius: 10px;
    display: block;
    background-image: linear-gradient(to right, crimson 0%, whitesmoke  51%, crimson  100%)
  }

ul {
    padding-left:10px;
    margin-right:5px;
}

ul li:hover {
    background-position: right center; /* change the direction of the change here */
    text-decoration: none;
}
  

ul li i {
    font-size: 20px;
    font-weight: bold;
}

.ul-title hr {
    width: 20%;
    margin-left:32px;
    border: 2px solid crimson;
  }

.page-title {
    width: 85%;
    font-size: 24px;
    margin-left:32px;
    font-family: "Lucida Console", "Courier New", monospace !important;
}

span a{
    text-decoration: none !important;
    color:black;
    font-weight: bold;
    font-size: 16px;
    font-family: "Lucida Console", "Courier New", monospace;
}

span a:hover{
    color:rgb(187, 15, 50);
}