html 
  head 
    style 
      include ../css/style.css
    title NewScrape 
  body 
    div(class = 'home-container')
      h1 Welcome to News Scraper
      ul Please navigate to:
        li ____________________________________________________________
        li 
          button(class="nav-button-internal")
            a(href="/getAPIResponse") get news from API components, sentiment evaluated, added to database
        li 
          button(class="nav-button-internal")
            a(href="/getPythonNews") get news from Python components, sentiment evaluated, added to database.
        li 
          button(class="nav-button-internal")
            a(href="/viewNews") view only very positive news ranked by positivity.
      