html 
  head 
    style 
      include ../css/style.css
    title News 
  body 
    div(class = 'home-container')
      h1 Welcome to News Scraper
      ul Please navigate to:
        li ____________________________________________________________
        li 1. <em><strong>localhost:PORT/getAPIResponse</strong></em> to get some articles from GNews and get their sentiment evaluated with a score between -10 and 10.
        br
        li 2. <em><strong>localhost:PORT/viewNews</strong></em>  to view only positive news ranked by positivity
      