html 
  head
    block styles
      link(rel="stylesheet" type="text/css" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css")
    style
      include ../css/carousel.css
    title News 
  body
    div(class="go-home")
      a(href="/") Home
    div(class = 'body-container display-container')
      each newsItem in newsItems
        div(class = 'my-news display-container')
          h1= newsItem.articleTitle 
          span(class="date-span")= newsItem.articleDate 
          p(class="news-content")=  newsItem.articleText
          button(class="display-left", onclick="plusDivs(-1)") &#x3c;
          button(class="display-right", onclick="plusDivs(1)") &#x3e;

    script. 
      var slideIndex = 1;
      showDivs(slideIndex);

      function plusDivs(n) {
        showDivs(slideIndex += n);
      }

      function showDivs(n) {
        var i;
        var x = document.getElementsByClassName("my-news");
        if (n > x.length) {slideIndex = 1}
        if (n < 1) {slideIndex = x.length}
        for (i = 0; i < x.length; i++) {
          x[i].style.display = "none";  
        }
        x[slideIndex-1].style.display = "block";  
      }