html 
  head 
    style 
      include ../css/style.css
    title News 
  body 
    div(class = 'home-container')
      h1 You have successfully fetched some news from <strong><em>Python components</em></strong>!
      ul Now please navigate to:
        li ____________________________________________________________
        li 
          button(class="nav-button-internal")
            a(href="/getAPIResponse") get news from API components, sentiment evaluated, added to database
        li 
          button(class="nav-button-internal")
            a(href="/viewNews") view only very positive news ranked by positivity.