html 
  head 
    style 
      include ../css/style.css
    title News 
  body 
    div(class = 'home-container')
      h1 You have successfully fetched some news from <strong><em>Python components</em></strong>!
      ul Now please navigate to:
        li ____________________________________________________________
        li <em><strong>localhost:PORT/viewNews</strong></em>  to view only positive news ranked by positivity.
        li <em><strong>localhost:PORT/getAPIResponse</strong></em>  to add some news from the API components to the database.