html 
  head 
    style 
      include ../css/style.css
    title News 
  body 
    div(class = 'home-container')
      h1 You have successfully fetched some news!
      ul Now please navigate to:
        li ____________________________________________________________
        li <em><strong>localhost:PORT/viewNews</strong></em>  to view only positive news ranked by positivity
      